@model IEnumerable<MCTS_MNT.EntityDataModel.MNT_REVE>
@using GridMvc.Html;
@{
    ViewBag.Title = "MNTREVE";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MNTREVE</h2>
    <div>
                    <table class="table-bordered" border="1">
                        <tr>
                            <td>
                                UNDER CONSTRUCTION!!!
                            </td>
                        </tr>
                    </table>             
    </div>

